.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color:	#a4a2af;
    color: #000000;
    width: 185vh;
    font-size: 20px;
  }
  
  nav a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #d6dce4;
  }
  
  nav a:hover {
    color: #3870be;
  }
 