.noticias-container{
    justify-content: center;
    text-align: center;
    text-align: left;
    margin: 10%;
    padding: 40px;
    border-radius: 10px;
    background-color: rgb(181, 216, 216);
    color: #0f3af979;
}
.barra-busca{
    color: #0000;
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 14rem;
}