.dsg{
  background-color: rgb(24, 24, 126);
  justify-content: center;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 100vh;
  font-family:'Gill Sans', sans-serif;
}
.card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}